@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Outfit:wght@400;700&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

:root {
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 0.9rem;
  background-color: var(--light-gray) !important;
}

.card {
  border-radius: 1rem !important;
}

.card-title {
  color: var(--dark-blue);
  font-size: 1.3rem;
}

.card-text {
  color: var(--grayish-blue);
}

.hover-shadow:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

#qr-code {
  border-radius: 2rem;
}

@media only screen and (max-width: 1440px) {
  #card {
    width: 25rem;
  }
}
